/*flexbox*/
.flex-prova {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
  }
  
  .flex-prova > div {
    background-color: #c7c1c1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;

  }

/*grid*/
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }
.item6 { grid-area: img;
	 	  width: 300px; 
          height: 150px;
}

.grid {
  display: grid;
  grid-template-areas:
    'img header header header header .'
    'menu main main main main right'
    '. footer footer footer footer .';
  grid-gap: 10px;
  background-color: #00FFAE;
  padding: 10px;
}

.grid > div {
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}


  body {
    background-color: white;
  }
  
  @media only screen and (max-width: 750px) {
    .grid {
      display: grid;
      grid-template-areas:
        'img header header header header .'
        'menu main main main main right'
        '. footer footer footer footer .';
      grid-gap: 10px;
      background-color: #FF9B00;
      padding: 10px;
      background:url(https://ichef.bbci.co.uk/news/800/cpsprodpb/C047/production/_119832294_gettyimages-1234564256.jpg);
    }
    .item6{ 
      visibility: hidden;
    }
    
  }